
table{
  margin-bottom: 30px;
}

td{
  padding: 10px;
}

.underline {
  text-decoration: underline;
}

.listing{
  position: absolute;
  top: -10px;
  left: 460px;
  padding: 20px;
  margin: 0;
  background-color: #FDFEE9;
  border-radius: 10px;
  font-size: 15px;
}
